@model IEnumerable<MUE.Web.EntitiesDTO.MUEDTO.PeriodDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Периоды</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PeriodId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCurrent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCurrent)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new {  id=item.PeriodId }) |
            @Html.ActionLink("Подать показания","SelectFlat", new { PeriodId = item.PeriodId }) |
            @Html.ActionLink("Расчитать","CalculateForThePeriod", new { PeriodId = item.PeriodId }) |
        </td>
    </tr>
}

</table>
