@model IEnumerable<MUE.Web.EntitiesDTO.BuildingDTO.FlatDTO>

@{
    ViewBag.Title = "SelectFlat";
}

<h2>SelectFlat</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountResidents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Square)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnersFullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Rooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountResidents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Square)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnersFullName)
        </td>
        <td>
            @Html.ActionLink("Тарифы", "Tariffs", new { FlatId = item.FlatId, PeriodId = ViewBag.PeriodId }) |
        </td>
    </tr>
}

</table>
